## 作業
在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以Titanic_train.csv 中，首先將有遺失值的數值刪除，並回答下列問題。
* Q1: 透過數值法計算  Age 和  Survived  是否有相關性?
* Q2:透過數值法計算  Sex 和 Survived  是否有相關性?
* Q3: 透過數值法計算  Age 和  Fare 是否有相關性?   
* 提示:    
1.產稱一個新的變數 Survived_cate ，資料型態傳換成類別型態      
2.把題目中的 Survived 用 Survived_cate 來做分析       
3.首先觀察一下這些變數的資料型態後，再來想要以哪一種判斷倆倆的相關性。

In [1]:
# import library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display

import pingouin as pg
import researchpy   
%matplotlib inline

In [23]:
!pip install pingouin
!pip install researchpy

Collecting pingouin
  Downloading pingouin-0.3.9.tar.gz (225 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\love-\anaconda3\lib\site-packages (from pingouin) (1.19.2)
Requirement already satisfied: scipy>=1.3 in c:\users\love-\anaconda3\lib\site-packages (from pingouin) (1.5.2)
Requirement already satisfied: pandas>=0.24 in c:\users\love-\anaconda3\lib\site-packages (from pingouin) (1.1.3)
Requirement already satisfied: matplotlib>=3.0.2 in c:\users\love-\anaconda3\lib\site-packages (from pingouin) (3.3.0)
Requirement already satisfied: seaborn>=0.9.0 in c:\users\love-\anaconda3\lib\site-packages (from pingouin) (0.11.0)
Requirement already satisfied: statsmodels>=0.10.0 in c:\users\love-\anaconda3\lib\site-packages (from pingouin) (0.12.0)
Requirement already satisfied: scikit-learn in c:\users\love-\anaconda3\lib\site-packages (from pingouin) (0.23.2)
Collecting pandas_flavor>=0.1.2
  Downloading pandas_flavor-0.2.0-py2.py3-none-any.whl (6.6 kB)
Collecting outdated
  Downloading outdated-0.2.0.tar.gz (4.0 kB)
Collecting tabulate
  Downloading tabulate-0.8.7-py3-none-any.whl (24 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\love-\anaconda3\lib\site-packages (from pandas>=0.24->pingouin) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\love-\anaconda3\lib\site-packages (from pandas>=0.24->pingouin) (2020.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\love-\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (8.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\love-\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\love-\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\love-\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.3.0)
Requirement already satisfied: patsy>=0.5 in c:\users\love-\anaconda3\lib\site-packages (from statsmodels>=0.10.0->pingouin) (0.5.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\love-\anaconda3\lib\site-packages (from scikit-learn->pingouin) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\love-\anaconda3\lib\site-packages (from scikit-learn->pingouin) (0.17.0)
Collecting xarray
  Downloading xarray-0.16.2-py3-none-any.whl (736 kB)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
Requirement already satisfied: requests in c:\users\love-\anaconda3\lib\site-packages (from outdated->pingouin) (2.24.0)
Requirement already satisfied: six>=1.5 in c:\users\love-\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->pingouin) (1.15.0)
Requirement already satisfied: setuptools>=38.4 in c:\users\love-\anaconda3\lib\site-packages (from xarray->pandas_flavor>=0.1.2->pingouin) (50.3.1.post20201107)
Requirement already satisfied: idna<3,>=2.5 in c:\users\love-\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\love-\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\love-\anaconda3\lib\site-packages (from requests->outdated->pingouin) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\love-\anaconda3\lib\site-packages (from requests->outdated->pingouin) (3.0.4)
Building wheels for collected packages: pingouin, outdated, littleutils
  Building wheel for pingouin (setup.py): started
  Building wheel for pingouin (setup.py): finished with status 'done'
  Created wheel for pingouin: filename=pingouin-0.3.9-py3-none-any.whl size=223381 sha256=e5909fd4f7aa47d6dec9e13e2d554e2094def1ae8d9e21366ed17ffdd89a3b6a
  Stored in directory: c:\users\love-\appdata\local\pip\cache\wheels\1b\18\0a\7876b30a94c1b99d0ddadf659639d0789596e47be2516e2967
  Building wheel for outdated (setup.py): started
  Building wheel for outdated (setup.py): finished with status 'done'
  Created wheel for outdated: filename=outdated-0.2.0-py3-none-any.whl size=4964 sha256=b326f5742f33b09f3cc673941eb15447d46394e64b82569c88cb5b6aa6c8fe61
  Stored in directory: c:\users\love-\appdata\local\pip\cache\wheels\2d\4f\c9\062da6e68841f60d0c3434980775671daaa07a574110567de6
  Building wheel for littleutils (setup.py): started
  Building wheel for littleutils (setup.py): finished with status 'done'
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7054 sha256=468f1d8f8a93989457926a00d095064bd416398210ae9351e34053ec0f59eb15
  Stored in directory: c:\users\love-\appdata\local\pip\cache\wheels\6a\33\c4\0ef84d7f5568c2823e3d63a6e08988852fb9e4bc822034870a
Successfully built pingouin outdated littleutils
Installing collected packages: xarray, pandas-flavor, littleutils, outdated, tabulate, pingouin
Successfully installed littleutils-0.2.2 outdated-0.2.0 pandas-flavor-0.2.0 pingouin-0.3.9 tabulate-0.8.7 xarray-0.16.2
Collecting researchpy
  Downloading researchpy-0.2.3-py3-none-any.whl (10 kB)
Requirement already satisfied: statsmodels in c:\users\love-\anaconda3\lib\site-packages (from researchpy) (0.12.0)
Requirement already satisfied: numpy in c:\users\love-\anaconda3\lib\site-packages (from researchpy) (1.19.2)
Requirement already satisfied: scipy in c:\users\love-\anaconda3\lib\site-packages (from researchpy) (1.5.2)
Requirement already satisfied: pandas in c:\users\love-\anaconda3\lib\site-packages (from researchpy) (1.1.3)
Requirement already satisfied: patsy>=0.5 in c:\users\love-\anaconda3\lib\site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\love-\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\love-\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: six in c:\users\love-\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.2.3

## 讀入資料

In [2]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [26]:
## 這邊我們做一個調整，把 Survived 變成離散型變數 Survived_cate
df_train=pd.DataFrame(df_train)

###  Q1: 透過數值法計算  Age 和  Survived  是否有相關性?

In [4]:
## 取出資料後，把遺失值刪除
complete_data=df_train[['Age','Survived']].dropna()
display(complete_data)
aov = pg.anova(dv='Age', between='Survived', data=complete_data, detailed=True)
print(aov)
etaSq = aov.SS[0] / (aov.SS[0] + aov.SS[1])
print(etaSq)
def judgment_etaSq(etaSq):
    if etaSq < .01:
        qual = 'Negligible'
    elif etaSq < .06:
        qual = 'Small'
    elif etaSq < .14:
        qual = 'Medium'
    else:
        qual = 'Large'
    return(qual)
judgment_etaSq(etaSq)

      Age  Survived
0    22.0         0
1    38.0         1
2    26.0         1
3    35.0         1
4    35.0         0
..    ...       ...
885  39.0         0
886  27.0         0
887  19.0         1
889  26.0         1
890  32.0         0

[714 rows x 2 columns]

     Source             SS   DF          MS         F     p-unc       np2
0  Survived     897.187582    1  897.187582  4.271195  0.039125  0.005963
1    Within  149559.448362  712  210.055405       NaN       NaN       NaN
0.0059630974469252

'Negligible'

### Q2:透過數值法計算  Sex 和 Survived  是否有相關性?

In [33]:
#le = preprocessing.LabelEncoder()
#df_train['Sex']=le.fit_transform(df_train['Sex'])
contTable2 = pd.crosstab(df_train['Sex'], df_train['Survived'])
print(contTable2)
df2 = min(contTable2.shape[0], contTable.shape[1]) - 1
print(df2)
crosstab2, res2 = researchpy.crosstab(df_train['Sex'], df_train['Survived'], test='chi-square')
#print(res)
print("Cramer's value is",res2.loc[2,'results'])
judgment_CramerV(df,res2.loc[2,'results'])

Survived    0    1
Sex
female     81  233
male      468  109
1
Cramer's value is 0.5434

'large'

### Q3: 透過數值法計算  Age 和  Fare 是否有相關性?

In [6]:
## 取出資料後，把遺失值刪除
complete_data=df_train[['Age','Fare']].dropna()
display(complete_data)
corr, _=stats.pearsonr(complete_data['Age'],complete_data['Fare'])
print(corr,'無相關性')

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
885  39.0  29.1250
886  27.0  13.0000
887  19.0  30.0000
889  26.0  30.0000
890  32.0   7.7500

[714 rows x 2 columns]

0.0960666917690389 無相關性